<div class="mt-5 col-3 mx-auto">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="text-center mb-2">
      <h1 class="text-3xl font-semibold text-primary">Register</h1>
    </div>
    <app-text-input label="First name" formControlName="firstName" />
    <app-text-input label="Last name" formControlName="lastName" />
    <app-text-input label="Email address" formControlName="email" />
    <app-text-input
      label="Password"
      formControlName="password"
      type="password"
    />

    @if (validationErrors) {
    <div class="p-2 bg-danger-subtle text-danger rounded">
      <ul class="list-disc px-3">
        @for (error of validationErrors; track $index) {
        <li>{{ error }}</li>
        }
      </ul>
    </div>
    }

    <button
      [disabled]="registerForm.invalid"
      mat-flat-button
      type="submit"
      class="w-100 mt-3 py-2"
    >
      Register
    </button>
  </form>
</div>
